# build artifacts
*.pyc
*.egg-info
build
dist
docs/_build
MANIFEST

# testing artifacts
tests/index.html
tests/results
tests/suites/*/exports
tests/expected/suites_*exports_*

# test configurations
/default.cfg

# test repositories
data
