# build artifacts
*.pyc
*.egg-info
build
dist
docs/_build
MANIFEST
lib
include
bin
# testing artifacts
tests/index.html
tests/results
**.cache
.coverage
.tox
.pytest_cache

# test configurations
/default.cfg

# pycharm ide
.idea

# venv
*venv

# shell files
.env
.envrc

# vscode ide
.vscode

# helm values
helm/*/local.yaml
