# build artifacts
*.pyc
*.egg-info
build
dist
docs/_build
MANIFEST

# testing artifacts
tests/index.html
tests/results
**.cache
.coverage
.tox
.pytest_cache

# test configurations
/default.cfg

# pycharm ide
.idea

# shell files
.env
.envrc

# compiled file for *.po.
*.mo

# virtual environments
.venv

# visual studio code workspace
*.code-workspace
