language: python

python:
  - "2.7"
  - "2.6"

install:
  - sudo apt-get install -y libgeos-c1
  - pip install .
  - pip install -r ./requirements-standalone.txt
  - pip install -r ./requirements-dev.txt
  - python ./setup.py -q install

#before_script:
#  - paver start

script:
  - paver test

after_script:
  - paver stop

notifications:
  irc:
    channels:
      #- "irc.freenode.org#geopython"
      - "irc.freenode.org#pycsw"
    use_notice: true
