language: python

sudo: required
dist: trusty

python:
  - "2.6"
  - "2.7"
  - "3.4"
  - "3.5"

#matrix:
#  allow_failures:
#    - python: "3.4"

addons:
  apt:
    packages:
      - libgeos-c1
      - libxml2-dev

before_script:
  - pycsw-admin.py -c get_sysprof

install:
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
  - pip install -r requirements-standalone.txt
  - python setup.py -q install

script:
  - paver test

after_script:
  - paver stop

notifications:
  irc:
    channels:
      - "irc.freenode.org#pycsw"
    use_notice: true
