{% extends "_base.html" %}
{% block title %}{{ super() }} Federated catalogs {% endblock %}

{% block crumbs %}
{{ super() }} /
<a href="{{ config['server']['url'] }}/collections">Collections</a> /
<a href="{{ config['server']['url'] }}/collections/{{ data['collection'] }}">{{ data['title'] }}</a> /
<a href="{{ config['server']['url'] }}/collections/{{ data['collection'] }}/federatedCatalogs">Federated catalogs</a>
{% endblock %}

{% block body %}

<section id="federatedcatalogues">
  <h2>Federated catalogs</h2>
  <h2>{{ data['title'] }}</h2>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      {% for fc in data['fedcats'] %}
      <tr>
        <td><a title="{{ fc['title'] }}" href="{{ config['server']['url'] }}/collections/{{ data['collection'] }}/federatedCatalogs/{{ fc['id'] }}">{{ fc['id'] }}</a></td>
        <td>{{ fc['type'] }}</td>
        <td>{{ fc['title'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

{% endblock %}
