name: Jira Integration
on:
  pull_request:
    types: [opened, edited]

permissions:
  statuses: write
  pull-requests: write

jobs:
  jira-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: mapcolonies/javascript-github-actions/actions/jira-integration@jira-integration-v1.0.1
